<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1> Gabby Rowley</h1>
    <h2> I am a Senior</h2>
    <h2> My majors are Marketing and Information Systems.</h2>
    <p> I am going to <strong>graduate</strong> in <strong>Spring 2027.</strong></p>
    <p> I hope to get a <em>job in marketing.</em></p>

    <!-- These are lists about ice cream -->

    <p> My favorite ice creams:</p>

    <ul>
    <li> Cookies and cream</li>
    <li> Chocolate</li>
    <li> Cookie dough</li>
    <li> Peanut butter</li>
    </ul>

    <p> My favorite ice creams in order:</p>

    <ol>
    <li> Cookie dough</li>
    <li> Cookies and cream</li>
    <li> Peanut butter</li>
    <li> Chocolate</li>
    </ol>

    <!-- This is a table about my courses -->

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>FALL 2026</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>SPRING 2026</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>FALL 2025</td>
        </tr>
    </table>

    <!-- These are my links -->

    <p>This is a link to my <a href="/hello">hello page</a> </p>

    <p>This is a link to <a href="https://www.amazon.com/" target="_blank">Amazon</a></p>

    <p> This is a link to <a href="https://www.sephora.com/">Sephora</a></p>

    <p>Here is a photo of the Smith School logo:</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">

</body>
</html>